<!DOCTYPE html>
<html lang="en">
  <%- include('head') %>
  <body>
    <%- include('header') %>
    <h2>Add A New Book</h2>
    <form action="/book/add" method="post">
      <p class="new new-title">
        <label for="title">Title: </label>
        <input type="text" name="title" id="title" />
      </p>
      <p class="new new-isbn">
        <label for="isbn">ISBN: </label>
        <input type="text" name="isbn" id="isbn" />
      </p>
      <p class="new new-pages">
        <label for="pages">Pages: </label>
        <input type="number" name="pages" id="pages" />
      </p>
      <p class="new new-lang">
        <label for="lang">Language: </label>
        <input type="text" name="lang" id="lang" />
      </p>
      <p class="new new-status">
        <label for="status">Status: </label>
        <select name="status" id="status">
          <option value="">--Please choosee an option</option>
          <option value="reading">Currently Reading</option>
          <option value="read">Read</option>
        </select>
      </p>
      <p class="new new-genre">
        <label for="genre">Genre: </label>
        <input type="text" name="genre" id="genre" />
      </p>
      <p class="new new-author">
        <fieldset>
          <legend>Author:</legend>
          <div>
            <p class="firstname">
              <label for="firstname">First Name: </label>
              <input type="text" name="firstname" id="firstname" />
            </p>
            <p class="lastname">
              <label for="lastname">Last Name: </label>
              <input type="text" name="lastname" id="lastname" />
            </p>
            <p>
              <label for="date-of-birth">Date of Birth: </label>
              <input type="date" name="date-of-birth" id="date-of-birth">
            </p>
            <p>
              <label for="date-of-death">Date of Death: </label>
              <input type="date" name="date-of-death" id="date-of-death">
            </p>
            <p class="about-author">
              <label for="about-author">About: </label>
              <textarea
                type="text"
                name="about-author"
                id="description"
                rows="3"
                cols="33"
              ></textarea>
            </p>
          </div>
        
      </fieldset>
      </p>
      <p>
        <label for="overview">Book Overview: </label>
        <textarea name="overview" id="overview" cols="40" rows=5"></textarea>
      </p>
      <p>
        <button type="submit">Submit</button>
      </p>
    </form>
    <br>
    <%- include('footer') %>
  </body>
</html>
