<header>
  <div class="header-left">
    <h1><a href="/">Library</a></h1>
  </div>
  <div class="header-right">
    <a href="/book/add">Add a Book</a>
    <a href="/genre/add">Add a Genre</a>
    <a href="/author/add">Add an Author</a>
  </div>
</header>
