<div class="nav">
  <div class="mobile-nav">
    <div class="nav-section1">
      <p class="home-link"><a href="/">Home</a></p>
      <p><a href="/#all-books">All Books</a></p>
      <p><a href="/#all-genres">All Genres</a></p>
      <p><a href="/#all-authors">All Authors</a></p>
    </div>
    <div class="nav-section2">
      <p><a href="/book/add">Add New Book</a></p>
      <p><a href="/genre/add">Add New Genre</a></p>
      <p><a href="/author/add">Add New Author</a></p>
    </div>
  </div>
</div>
