body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right a {
  margin-left: 15px;
}

.book-info p {
  margin: 10px;
}

.op {
  opacity: 0.7;
}

.ge {
  background-color: black;
  color: white;
  padding: 4px;
  margin-left: 10px;
  border-radius: 5px;
}

.ds p {
  margin-top: 20px;
}

.check {
  color: green;
}
