body {
  box-sizing: border-box;
}

span {
  display: inline-block;
  margin: 5px;
}

.op {
  opacity: 0.7;
}

.ge {
  background-color: black;
  color: white;
  padding: 4px;
  border-radius: 5px;
}

.ds p {
  margin: 5px;
}
